---
import MainLayout from '../layouts/MainLayout.astro';
import ChangePasswordForm from '../components/auth/ChangePasswordForm';
---

<MainLayout title="Change Password">
    <div class="max-w-md mx-auto">
        <ChangePasswordForm client:load />
    </div>
</MainLayout>